@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
 * {
	padding: 0;
    margin: 0;
	color: #757575
 }
                                
 .logo {
	font-family: 'Poppins', sans-serif;
	color: black;
	font-size: 40px;
	max-width: 150px;
	font-weight: bold;
}

 nav {
	width: 96%;
	height: 70px;
	font-family: sans-serif;
	margin: 20px auto;
	display: flex;
	justify-content: space-around;
}

nav ul {
	width: 60%;
	list-style: none;
 }

 nav ul li {
	list-style: none;
	float: left;
	margin: 10px 20px;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
}

nav ul li a {
	text-decoration: none;
	color: rgb(10, 8, 8);
}

nav ul li a:hover {
	color: rgb(180, 50, 50);
}

.Intro {
	width: 80%;
	height: 250px;
	padding: 50px;
	background: #ffffff40;
	text-align: center;
	margin: 10px auto;
	margin-top: 100px;
}

body {
 background-image: url("Library.jpg");
 background-color: #cccccc;
}
